*{
    margin: 10;
    padding: 10px;
}

body{
    background-color: rgb(197, 174, 193);
}

#inicio{
    position: relative;
    text-align: center;
    
  
}


.fora{
   position: relative;
    
}
    


.ck1{
    position: relative;
    margin-left: 0;
    color: rgb(5, 5, 5);
    background-color: rgb(234, 221, 235);
     
}
